body{
    background-color: rgb(233, 236, 238);
}
#dropdown{
    position: absolute;
    top:10px;
    right: 0;
}
.content-food{
    padding-top: 40px;
    width: 85%;
    margin: 0 auto;
    border: 4px;
    background: white;
    padding: 20px;
}
.name-auther{
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(184, 179, 179, 0.883);
}
.time{
    font-size: 15px;
}
.save-class{
    position: relative;
    padding-top: 10px;

}
.save-class ul{
    list-style: none;
}
.save-btn{
    position: absolute;
    top:10px;
    right: 0;
}
.decription{
    padding-bottom: 30px;

}
.decription-content{
    position: relative;
}
.decription-content .tag{
    position: absolute;
    bottom: 0;
    left: 0;
}
.decription-image{

}
.checked {
    color: yellow;
  }
.decription-image img{
    padding-left: 10px;
    width: 100%;
    object-fit: cover;
}
.info-rating{
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}
.rate{
    position: absolute;
    right: 0;
    top: 0;
}
.bth-number{
    display:inline-block;
}
.bth-number h4{
    width: 15%;
}
.bth-number .bth-content{
    float: right;
    width: 85%;
}
.bth-number .bth-content img{
    width: 100%;

}
.nl ul{
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 30px;
    margin: 0 auto;
}
.nl ul li{
    text-align: center;
}
.bth-first{
    margin-top: 20px;
}
.nl-number{
    margin-top: 20px;
}
.pc{
    border-bottom: 3px solid black;
}
.nl-header{
    display:inline ;
}
.comment{
    margin-top: 20px;
}
.nguoidung {
    padding:3px;
}
.cmt{
   display: inline;
   font-family:  Arial;
   font-size: 80%;
    width: 100%;
    background-color:rgb(233, 236, 238);
    border-radius: 3px;
}
.nl-bth{
    padding-bottom: 40px;

}
.cs{
    font-size: 15px;
    font-weight:bold;
}
.tag{
    margin-left: 15px;
}

